header{
    background: #972929;

}
nav li{
    display: inline;
    text-transform: uppercase;
    font-weight: solid;
    font-size: 30px;
    padding: 140px;

}
h1{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.imagemprincipal{
    width: 50%;
    padding-left: 25%;
}

h2{
    text-align: center;
}

body{
    background: #c98383;
}